

/* 전체 선택자 */
*{
    box-sizing: border-box; /* 각 구역의 사이즈를 테두리를 포함 */
    margin: 0; padding : 0; /* 기본값 여백 제거 */
}
li{ list-style-type: none ; } /* 글머리 제거 */
/* 링크 마크업의 색상과 밑줄 제거 */
a{ color: black; text-decoration: none; }

/* 전체 구역 */
#wrap{
    display: flex; /* 하위 요소 가로 배치 */
}
#wrap > div:nth-child(1){
    /* 자식 선택자 : 선택자 > 하위선택자:nth-child(순번) */
    /* 만약에 하위선택자가 여러개 일때 순번으로 선택한다. */
    /* wrap 선택자 하위에는 사이드바 div 와 본문 div */
    /* div:nth-child(1) : 사이드바 div */
    /* div:nth-child(2) : 사이드바 div */
    width: 15%;
}
#sideMenu > li {
    margin: 50px 10px;
}
#wrap > div:nth-child(2){
    width: 85%;
    margin: 50px 2px;
}
#read table{
    margin-top: 20px;
}
#read table , #read table th , #read table td{
    border: 1px solid black; text-align: center;
    border-collapse: collapse;
}
#read table , #read table th , #read table td{
    padding: 10px;
}
#create form input:last-of-type , #update form input:last-of-type , #delete form input:last-of-type{
    margin-bottom: 30px;
}
#create form input , #update form input , #delete form input{
    margin: 10px 0px;
    padding: 5px;
}
#create form button , #update form button , #delete form button{
    padding: 5px 10px; font-weight: 900;
    border-radius: 100px;
}