body{ background-color: #dbe9ff;}
*{ padding: 0px; margin: 0px; box-sizing: border-box; }
a{ text-decoration: none; color: black; display: block;}
h1{ margin: 50px 0px 30px ;}
.button1{
    font-size: 20px;
    border-radius: 20px;
    font-weight: 900;
    width: 180px;
}
.button2{
    border-radius: 15px;
    font-weight: 900;
}
.button2:first-of-type{
    margin-right: 10px;
}
.button1:hover , .button2:hover , .button3:hover{
    background-color: #b7b7b7;
}
.button1:not(:first-of-type){
    margin-left: 20px;
}
.button3{
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}
.button1 a, .button2 a ,.button3 a{
    padding: 20px 30px;
}

#wrap{
    text-align: center; margin-top: 80px;
}
#booktable table{
    margin: 0 auto;
}
#booktable table , #booktable table *{
    padding: 10px;
}
#booktable table , #booktable td , #booktable th{
    border: 1px solid black;
    border-collapse: collapse;
}
#bInput form input{
    margin-bottom: 15px;
    padding: 5px;
}
#book span{
    padding: 20px 0px;
}
#book span , #book .comment{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid black;
}
#book p{
    font-size: 20px;
}
#book span p:not(:first-of-type){
    margin-top: 20px;
}
#book .comment{
    margin-top: 50px;
}
#book .comment h2 , #book .comment div{
    border-bottom: 1px solid black;
}
#book .comment div{
    padding: 10px 0px;
}
#book .comment div p:first-of-type{
    font-size: 16px;
}

